<mat-tab-group>
  <mat-tab label="Simple start">
    <mat-tab-group>
      <mat-tab label="demo">
        <app-simple></app-simple>
      </mat-tab>
      <mat-tab label="code">
        <app-code [files]="['simple/simple.component.ts']"></app-code>
      </mat-tab>
    </mat-tab-group>
  </mat-tab>
  <mat-tab label="Feature showcase">
    <div fxLayout="row">
      <mat-tab-group>
        <mat-tab label="demo">
          <app-kitchen-sink></app-kitchen-sink>
        </mat-tab>
        <mat-tab label="code">
          <app-code
            [files]="['kitchen-sink/kitchen-sink.component.html', 'kitchen-sink/kitchen-sink.component.ts']"
          ></app-code>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-tab>
  <mat-tab label="Extra props">
    <mat-tab-group>
      <mat-tab label="demo">
        <app-extra-props></app-extra-props>
      </mat-tab>
      <mat-tab label="code">
        <app-code
          [files]="['extra-props/extra-props.component.html', 'extra-props/extra-props.component.ts']"
        ></app-code>
      </mat-tab>
    </mat-tab-group>
  </mat-tab>
</mat-tab-group>
