/* You can add global styles to this file, and also import other style files */
@use '~@angular/material' as mat;
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~prismjs/themes/prism.css';
@import '~prismjs/plugins/toolbar/prism-toolbar.css';
@include mat.core();

$app-primary: mat.define-palette(mat.$purple-palette);
$app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$app-warn: mat.define-palette(mat.$red-palette);

$app-theme: mat.define-light-theme($app-primary, $app-accent, $app-warn);
$material-theme-for-highcharts: $app-theme;
@import '../../angular-highcharts-declarative/src/lib/styles/material-highcharts';
@include mat.all-component-themes($app-theme);

.app-dark {
  $app-primary: mat.define-palette(mat.$amber-palette);
  $app-accent: mat.define-palette(mat.$blue-palette, A200, A100, A400);
  // The warn palette is optional (defaults to red).
  $app-warn: mat.define-palette(mat.$red-palette);
  $app-theme: mat.define-dark-theme($app-primary, $app-accent, $app-warn);
  $material_theme_for_highcharts: $app-theme;
  @import '../../angular-highcharts-declarative/src/lib/styles/material-highcharts';
  @include mat.all-component-themes($app-theme);
}
